body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color: #999
}

h1, h2, h3{
    color: #6b6b6b;
}

a {
    text-decoration: none;
    color: #999;
  }
   
ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding-top: 30px;
    max-width: 1300px;
}

li {
    margin: auto;
    list-style-type: none;
    padding: 20px;
}
 
.logo {
    display: flex;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    padding: 9px;
    margin: 10px;
}

.text {
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1300px;
}

.text h2{ 
    font-size: xx-large; /* change font */
}

.gallery{
    display: flex;
    justify-content: center;
    margin: auto;
}

.gallery li{
    text-align: left;
    max-width: 400px;
}

.gallery img {
    width: 400px;
    height: 250px
}

#team {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: auto;
}