html body{
  height: 100%;
}

p{
    color: #999
}

h1 {
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 100;
    color: #6b6b6b;
}

h3{
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 300;
    color: #6b6b6b;
}

a {
    text-decoration: none;
    color: #999;
  }
   
.header{
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 200;
    font-size: 80px;
    color: #6b6b6b;
    padding-bottom: 0;
    margin-bottom: 0;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar a {
    padding: 20px;
    margin: 10px;
}

.navbar a:hover{
    color: #282828;
    text-decoration: underline;
}

.nav-links {
  display: flex;
}

.nav-icon {
  display: none;
}

.logo {
  display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.gallery {
  display: flex;
  width: 100%;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.item {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.item-image img{
  height: 250px;
}

#team {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 80px;
}

#team img {
  width: 200px;
  height: 200px;
}

footer { 
  padding: 20px;
  margin: 0;
  background-color: #282828;
  color: #777;
  width: 100%;
}

footer h3 {
  color: antiquewhite;
}

footer a{ 
  text-decoration: none;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer i{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-top: 0;
}

.footer-container {
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.copywright {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  padding: 5px 10px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: max-content;
}

@media only screen and (max-width: 1023px){
  .nav-links {
    display: none;
  }
  .nav-icon {
    display: flex;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .item {
    flex-direction: row;
    gap: 20px;
  }
  .item-image img {
    width: 350px;
    height: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-icon {
    display: flex;
  }
  .item {
    flex-direction: column;
    gap: 0;
  }
  .item-image img{
    height: 250px;
    width: 100%;
  }
}