html{
  height: 100%;
}

body {
    height: 100%;
}

p{
    color: #999
}

h1 {
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 100;
    color: #6b6b6b;
}

h3{
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 300;
    color: #6b6b6b;
}

a {
    text-decoration: none;
    color: #999;
  }
   
ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding-top: 30px;
}

li {
    margin: auto;
    list-style-type: none;
    padding: 20px;
}
 
.header{
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 200;
    font-size: 80px;
    color: #6b6b6b;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo {
    display: flex;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    padding: 9px;
    margin: 10px;
}

.navbar a:hover{
    color: #282828;
    text-decoration: underline;
}

.text {
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}

.text h2{ 
    font-size: xx-large; 
}

.gallery{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max-content;
}

.gallery li{
    text-align: left;
    max-width: 400px;
}

.gallery img {
    width: 400px;
    height: 250px
}

#team {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 80px;
}

#team img {
  width: 200px;
  height: 200px;
}

footer { 
  padding: 20px;
  margin: 0;
  background-color: #282828;
  color: #777;
  width: 100%;
}

footer h3 {
  color: antiquewhite;
}

footer a{ 
  text-decoration: none;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer i{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-top: 0;
}

.footer-container {
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.copywright {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  padding: 5px 10px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: max-content;
}

@media only screen and (min-width: 769px){
  .dropdown {display: none;} 
  .footer-section-2 {display: none;}
  .header-adjust {display: none;}
}
@media only screen and (max-width: 768px) and (min-width: 375px){
  .nav-desktop{
    display: none;
  }

  .dropdown {
    padding: 9px;
    margin: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .header {display: none;}

  .header-adjust{
    font-family: 'Noto Serif Hebrew', serif;
    font-weight: 200;
    font-size: 80px;
    color: #6b6b6b;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .text {
    width: 100%;
  }

  .gallery ul{
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
  }
  #team {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  #team li {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .footer-section {
    display: none;
  }
  .footer-section-2 {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: max-content;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
  }
}

